ion-content{
 --background: rgb(78, 78, 78);
}
.wrapper{
  height: 100%; 

}

.containerCalculo{
  display: grid;
  grid-template-rows: 2fr, 1fr;
}
.principal{
  color: white;
  font-size: 4rem;
  text-align: right;
  height: 10vh;
  border: 2px solid black;
  margin-top: 5vh;
  width: 100%;
  max-width: 100vw;
}


.resultado{color: white;
  font-size: 3rem;
  text-align: right;
  height: 10vh;
  border: 2px solid black;
  margin-top: 10px;
}





.dividir{
  font-size: 2rem;
}


ion-button{
  --background: rgb(2,0,36);
  --background: linear-gradient(166deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 61%, rgba(0,164,198,1) 100%);
  --border-radius: 50%;   
  min-width: 75px;
  min-height: 75px;
  max-width: 75px;
  max-height: 75px;
  font-size: 1.8rem;
}

ion-row{

}
ion-input{
  
  
  
}
.container{
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  height: 50vh;
  margin-top: 5vh;
}